@media (max-width: 992px) {
    .menu {
        padding-right: 20px;
    }
    .navbar-nav>li.profile>a>.profile-content>h4 {
        display: none;
    }
    .navbar-nav>li.profile>a>.profile-content>.image {
        margin-right: 0;
    }
    body {
        overflow-x: hidden;
    }
}



@media (max-width: 767px) {

    .navbar {
        border-bottom: 1px solid #ddd !important;
    }
    .profHid {
        display: block;
    }
    .profile-top {
        display: none;
    }
    .navbar {
        height: inherit;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 10px;
    }
    .topSearch div {
        padding-right: 15px;
        padding-left: 15px;
    }
    .topSearch .first {
        padding: 0;
    }
    .topSearch .fourth {
        padding-left: 15px;
    }
    .topSearch .form-control {
        border-radius: 4px;
        border: 0;
        margin-bottom: 10px;
    }
    .features.one, .features.two, .features.three {
        border: 0;
    }
    .bottom-nav ul li {
        margin-bottom: 15px;
    }
    .footerLinks {
        text-align: center;
    }
    .strip {
        text-align: center;
    }
    .strip .text-right {
        text-align: center;
        margin-top: 20px;
    }
    .topSearch .calender:before {
        right: 30px;
    }
    .testimonial .carousel-control.left {
        left: 0;
    }
    .testimonial .carousel-control.right {
        right: 0;
    }
}


@media (max-width: 640px) {
    .BookingSteps .step span {
        white-space: normal;
        line-height: 1.4;
        left: -10px;
    }
    .btn-orange {
        margin-left: 0;
    }
    .oCompany img {
        width: 100px;
    }
    .oCompany h4 {
        font-size: 14px;
    }
}


@media (max-width: 360px) {
    .navbar-brand > img {
        height: 30px;
        margin-top: 5px;
    }
    .profHid img {
        width: 35px;
        height: 35px;
    }
    .profHid {
        margin: 14px 15px 0 0;
    }
}