body {
    font-family: 'Roboto', sans-serif;
    padding-top: 64px;
}
body.index .navbar {
    border: 0;
}
body.bgGray {
    background: #f9f9f9;
}
a:hover {
    text-decoration: none;
}
.profHid {
    float: right;
    margin: 9px 20px;
    display: none;
}
.profHid img {
    border-radius: 100%;
    width: 45px;
    height: 45px;
}
.navbar-toggle {
    margin-top: 15px;
    margin-right: 25px;
}
.navbar {
    height: 64px;
    border-radius: 0;
    background: #fff;
    margin-bottom: 0;
}
.navbar .container-fluid {
    padding: 0;
}
.navbar-brand {
    height: 64px;
    padding: 12px 15px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-nav {
    margin: 6px 0;
}
.navbar-default .navbar-nav>li>a {
    font-weight: 500;
    text-transform: uppercase;
    color: #5c5c5c;
}
.menu {
    padding-right: 70px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #0f75bc;
    background-color: transparent;
}
ul.profile-top {
    margin: 0;
    height: 64px;
    background: #f3f3f3;
    padding: 0;
}
.navbar-nav>li.profile>a {
    padding: 9px 20px;
    float: left;
    background: transparent !important;
    height: 64px;
}
.navbar-nav>li.profile>a>.profile-content>.image {
    float: left;
    margin-right: 20px;
}
.navbar-nav>li.profile>a>.profile-content>.image>img {
    border-radius: 100%;
    width: 45px;
    height: 45px;
}
.navbar-nav>li.profile>a>.profile-content>h4 {
    float: left;
    color: #018aca;
    font-size: 16px;
    margin-top: 13px;
    text-transform: none;
}
.navbar-nav>li.profile>a>.profile-content>h4>i {
    font-size: 12px;
    float: right;
    margin: 3px 0 0 10px;
}

@media (min-width: 768px) {
    .profile-top.navbar-right .dropdown-menu {
        right: 15px;
    }
}

.topBanner {
    background: url(../img/topBanner.jpg) no-repeat center;
    background-size: cover;
    display: table;
    width: 100%;
    min-height: 500px;
    margin-top: -2px;
}
.topBanner .content {
    display: table-cell;
    width: 10%;
    vertical-align: bottom;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}
.topBanner .content:before {
    content: "";
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    left: 0;
    right: 0;
    bottom: 0;
    height: 240px;
    position: absolute;
    z-index: 0;
}
.topBanner .content .container {
    position: relative;
    z-index: 1;
    padding: 30px 0;
}
.topBanner .content h2 {
    font-size: 40px;
}
.topBanner .content h4 {
    font-size: 24px;
}
.topBanner .content h4 span {
    color: #ff6d00;
}
.topSearch {
    background: #0f76be;
    padding: 32px 0;
    z-index: 9999999999;
}
.topSearch div {
    padding-left: 0;
    padding-right: 0;
}
.topSearch .form-control {
    height: 42px;
    line-height: 42px;
    border-radius: 0;
    border: 0;
    border-right: 1px solid #3c334a;
}
.topSearch .first .form-control {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.topSearch .third .form-control {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 0;
}
.topSearch .fourth {
    padding-left: 30px;
}
.btnOrange {
    background: #ff5600;
    line-height: 28px;
    height: 42px;
    font-size: 16px;
    border: 0;
    padding: 6px 30px;
}
.btnOrange:hover {
    background: #de4b00;
}
.topSearch .form-control::-webkit-input-placeholder {
  color: #5c5c5c;
}

section {
    padding: 40px 0;
}
.MdTitle {
    font-size: 22px;
    color: #5c5c5c;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.services {
    text-align: center;
    margin-top: 20px;
}
.services h4 {
    color: #666666;
    margin-top: 30px;
}
.services p {
    color: #ababab;
}



section.reviews {
    background: url(../img/reviewBg.jpg) no-repeat center;
    background-size: cover;
}
.ratings {
    margin: 40px 0;
}
.star {
    width: 300px;
    height: 60px;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto;
    background: url(../img/stars.png) no-repeat;
    background-position: 0 0;
    background-size: cover;
}
.star.one {
    background-position: 0 0;    
}
.star.two {
    background-position: 0 -60px;    
}
.star.three {
    background-position: 0 -120px;    
}
.star.four {
    background-position: 0 -180px;    
}
.star.five {
    background-position: 0 -240px;    
}

.ReviewContent {
    max-width: 520px;
    margin: 0 auto 40px;
}
.ReviewContent p {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}
.ReviewContent p:before {
    content: '"';
}
.ReviewContent p:after {
    content: '"';
}
.ReviewContent span {
    color: #cccccc;
    font-size: 22px;
}
.carousel-control.left, .carousel-control.right {
    background: transparent;
}
.btn-border {
    color: #fff;
    border: 1px solid #fff;
    min-width: 180px;
    display: inline-block;
    padding: 10px 0;
}
.btn-border:hover {
    color: #000;
    background: #fff;
}
.reviews .btn-border {
    margin-bottom: 30px;
}


.features {
    padding: 10px 60px;
}
.features.one {
    border-bottom: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}
.features.two {
    border-bottom: 1px solid #f0f0f0;
}
.features.three {
    border-right: 1px solid #f0f0f0;
}
.features .image {
    float: left;
    margin-top: 8px;
}
.features p {
    margin-left: 60px;
    margin-top: 8px;
    color: #666666;
}



.bgBlue {
    background: #0f76be;
}
.strip p {
    color: #fff;
    margin: 0;
}
.strip h4 {
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}


.bottom-nav ul li a {
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 20px;
    padding-left: 10px;
}
.bottom-nav ul li:last-child a {
    border-right: 0;
}
.bottom-nav ul {
    margin: 0;
}



footer {
    background: #101010;
    padding: 30px; 0
}
footer h5 {
    color: #eef0f0;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer ul li a {
    color: #afb0b5;
    font-size: 12px;
}
footer ul li a:hover {
    color: #fff;
}
.social-links {
    margin-top: 20px;
}
.social-links a {
    font-size: 19px;
    background: #bababa;
    color: #101010;
    width: 34px;
    height: 34px;
    display: inline-block;
    border-radius: 100%;
    line-height: 34px;
    margin: 0 5px;
}
.social-links a:hover {
    background: #fff;
}




section.booking {
    padding-top: 100px;
    position: relative;
}
section.booking:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 94px solid transparent;
    border-right: 94px solid transparent;
    border-top: 74px solid #0f76be;
    top: 0;
    position: absolute;
    left: 50%;
    margin-left: -94px;
}
.BookingSteps {
    position: relative;
    height: 42px;
    margin-bottom: 70px;
}
.BookingSteps:before {
    content: "";
    position: absolute;
    height: 1px;
    border-bottom: 1px dashed #979797;
    width: 100%;
    top: 21px;
}
.BookingSteps .step {
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    background: #d8d8d8;
    color: #fff;
    text-align: center;
    border-radius: 100%;
    font-size: 22px;
    pointer-events: none;
    cursor: default;
    position: absolute;
}
.BookingSteps .step.active {
    background: #1c75bc;
    pointer-events: inherit;
    cursor: pointer;
}
.BookingSteps .step.one {
    left: 0;
}
.BookingSteps .step.two {
    left: 50%;
    margin-left: -21px;
}
.BookingSteps .step.three {
    right: 0;
}
p.black {
    color: #000;
}

.bv-form .help-block {
    margin-bottom: 0;
}
.bv-form .tooltip-inner {
    text-align: left;
}
.nav-tabs li.bv-tab-success > a {
    color: #3c763d;
}
.nav-tabs li.bv-tab-error > a {
    color: #a94442;
}



.form-fields {
    background: #fff;
    box-shadow: 3px 3px 0px #e1e1e1;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
}
.form-fields label {
    color: #646669;
    display: block;
    margin: 0;
    padding: 0 4px;
    font-weight: 500;
    font-size: 13px;
}
.form-fields .form-control {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0 5px;
    margin: 0;
    line-height: 1;
    height: initial;
    color: #ababab;
    font-size: 16px;
}
.form-fields select.form-control {
    padding: 0;
}
.booking h3.title {
    color: #000;
    font-size: 14px;
    margin: 40px 0 30px;
}
.booking h3.title span {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #000;
    color: #fff;
    border-radius: 100px;
    margin-right: 5px;
}
.form-fields.transparent {
    box-shadow: none;
    background: transparent;
}
.form-fields .radio-inline {
    display: inline-block;
    padding-left: 20px;
    margin-left: 4px;
    margin-right: 5px;
    font-size: 16px;
    margin-top: 5px;
    font-weight: 400;
}
.ansNum {
    margin-right: 40px;
    display: inline-block;
    margin-top: 5px;
}
.ans-radio.btn {
    background: #f9f9f9;
    border-radius: 100% !important;
    padding: 0;
    border: 2px solid #9e9e9e;
    display: inline-block;
    height: 26px;
    width: 26px;
}
.ans-radio.btn.active {
    background: #0f75bc;
    border-color: #0f75bc;
    color: #fff;
}
.ansNum span {
    font-size: 15px;
    font-weight: 400;
    margin-left: 5px;
    display: inline-block;
    top: 3px;
    color: #5c5c5c;
    position: relative;
}
[data-toggle=buttons]>.ansNum>.btn>input[type=radio], [data-toggle=buttons]>.ansNum>.btn>input[type=checkbox] {
    position: absolute;
    z-index: -1;
    filter: alpha(opacity=0);
    opacity: 0;
}
.ans-radio i.fa {
    opacity: 0;
    font-size: 12px;
    padding: 0 2px;
    position: absolute;
    left: 2.5px;
    top: 5.5px;
}
.ans-radio.active i.fa {
    opacity: 1;
}



.has-feedback label ~ .form-control-feedback {
    top: 14px;
    right: -45px;
    font-size: 25px;
}
.has-feedback .form-control:focus {
    border: 0;
    box-shadow: none;
}
.has-success .form-control-feedback {
    color: #a1d36e;
}
.has-error .form-control-feedback {
    color: #de5451;
}



.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 60px;
}
.bootstrap-select > .dropdown-toggle {
    padding: 0 0 0 5px;
    border: 0;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option img {
    width: 25px;
}
.form-fields .input-group-addon {
    padding: 0;
    background: transparent;
    border: 0;
}
.form-fields .btn-default:active:hover,
.form-fields .btn-default.active:hover,
.form-fields .open > .dropdown-toggle.btn-default:hover,
.form-fields .btn-default:active:focus,
.form-fields .btn-default.active:focus,
.form-fields .open > .dropdown-toggle.btn-default:focus,
.form-fields .btn-default:active.focus,
.form-fields .btn-default.active.focus,
.form-fields .open > .dropdown-toggle.btn-default.focus,
.bootstrap-select > .dropdown-toggle {
    outline: none !important;
    background: transparent !important;
    box-shadow: none !important;
}
a.button-arrow {
    background: #6bd400;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 50px;
    border-radius: 5px;
    box-shadow: 3px 3px 0px #5cb204;
    margin-right: 50px;
    position: relative;
    margin-top: 25px;
}
a.button-arrow:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 53px solid #6bd400;
    border-bottom: 25px solid transparent;
    position: absolute;
    right: -50px;
    z-index: 1;
}
a.button-arrow:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 29px solid transparent;
    border-left: 62px solid #5cb204;
    border-bottom: 29px solid transparent;
    position: absolute;
    right: -50px;
    z-index: -1;
    border-radius: 36px;
}